<!DOCTYPE html>
<!--Denne HTML template er lavet ud fra https://www.youtube.com/watch?v=2Z_iYYmbnUY&list=PLbBR9SQXCBacNTX36Eo8I217CNflO5kXQ&index=14&t=0s -->

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="shortcut icon" href="">
   <!-- <link rel="stylesheet" type="text/css" th:href="@{static/frontPage.css}"> -->
    <link href="/css/frontPage.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <ul class="menu">
        <li><a href="/Thymeleaf">Template engine (Thymeleaf)</a></li>
        <li><a href="/javascript">Javascript på klienten</a></li>
        <li><a href="/Jquery">jQuery</a></li>
        <li><a href="/Html5Formv">HTML5 Form validation</a></li>
        <!--<li><a href="/Ajax">AJAX</a></li> -->
        <!--<li><a href="/Http">Håndtering af HTTP forespørgsler</a></li>-->
    </ul>
</body>
</html>